*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 170%;
    background-color: #ffffff;
}

.containerindex{
    width: 100%;
    height: 120%;
    background-color: #ffffff;
}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b1b1b2;
    cursor: pointer;
}

.logo1 img{
    width: 150px;
    margin-top: -20px;
    margin-right: 45px;
    margin-left: -25px;
}

.active{
    color: #12457f !important;
}

.lieninv{
    text-decoration: none;
    color: #57b2ca;
}

.texte .liensommaire{
    text-decoration:underline;
    color: #57b2ca;
}



.banner{
    width: 80%;
    height: 15%;
    top : 50%;
    left : 130px;
    position: absolute;
    color: #000000;
}

.app-text{
    width: 50%;
    /*float: left;*/
    margin-left: 50px;
}

.app-text h1{
    font-size: 90px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    width: 650px;
    font-size: 20px;
    margin-left: 40px;
    line-height: 20px;
    margin-top: 2px;
    color: #57575b;
}

.postexte {
    position: absolute;
    margin-top: 330px;
    margin-left: 340px;
    color: #57575b;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.picture{
    width: 80%;
    float: right;
    margin-top: 290px;
}

.picture img{
    width: 70%;
    float: right;
    margin-right: -10px;
    margin-top: -500px;
}

.persodefaut img{
    width: 40%;
    margin-top: -170px;
    margin-right: 400px;
}
.active2{
    color: #12457f !important;
}

.texte {
    margin-left: 15;
    color:#170a52;
}

.texte h1{
    font-size: 40px;
}

.texte p{
    margin-top: 25px;
    font-size: 20px;
}

.texte h2{
    font-size: 25;
    margin-top: 30px;
}

.texte ul{
    margin-left: 40px;
    margin-top: 25px;
    font-size: 20px;
}

.texte a{
    text-decoration: none;
    color: #170a52;
}


.texte h3{
    padding: auto;
    text-align: center;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c5850d;
    font-size: 50pt;
    margin-bottom: 75px;      
}

.texte h4{
    padding: auto;
    margin-top: 30px;
    margin-left: 40px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    color: #170a52 ;
    font-size: 30pt;
}

.art{
    width: 550px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.artest{
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.nomsalles{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

.nomsalles2{
    margin-left: 50px;
    margin-top: 200px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.nomart{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}


figure{
    text-align: center;
}

figcaption{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 5px;
}


.box{
    width: 1500px;
    height: 270px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 200px;
}

.box2{
    width: 1500px;
    height: 320px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 200px;   
}

.box3{
    width: 1500px;
    height: 270px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 550px;
}

.box4{
    width: 1500px;
    height: 270px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 400px;
}

.box5{
    width: 1500px;
    height: 280px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 400px;
}

.box6{
    width: 1500px;
    height: 270px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 130px;
}

.box7{
    width: 1500px;
    height: 270px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 155px;
}


.boxtest{
    width: 1500px;
    height: 270px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 250px;
}

.boxjeux{
    width: 1500px;
    height: 220px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 10px;
}

.boxgrand{
    width: 1500px;
    height: 500px;
    border: 5px black;
    margin-top: 50px;
    position: relative;
    margin-bottom: 10px;
    
}

.inspiphoto{
    width: 300px;
    position: relative;
    margin-left: 120px;
}

.inspiphoto2{
    width: 300px;
    position: relative;
    margin-left: 150px;
}
.inspiphoto200{
    width: 300px;
    position: relative;
    margin-left: 150px;
}

.inspiphotocenter{
    width: 300px;
    position: relative;
    margin-left: 550px;
}

.captionbox{
    width : 1500px;
    height : 60px;
    margin-top: 10px;
}

.captionbox1{
    width : 1500px;
    height : 60px;
    margin-top: -15px;
}

.captionbox2{
    width : 1500px;
    height : 60px;
    margin-top: 140px;
}

.captionbox3{
    width : 1500px;
    height : 60px;
    margin-top: 160px;
}

.captionbox4{
    width : 1500px;
    height : 60px;
    margin-top: 120px;
    margin-left: -60px;
}

.captionbox5{
    width : 1500px;
    height : 60px;
    margin-top: 290px;
    margin-left: -20px;
}

.captionbox6{
    width : 1500px;
    height : 60px;
    margin-top: 220px;
}

.captionbox7{
    width : 1500px;
    height : 60px;
    margin-top: 300px;
    margin-left: -20px;
}

.captionbox8{
    width : 1500px;
    height : 60px;
    margin-top: 190px;
    margin-left: -20px;
}

.captionbox9{
    width : 1500px;
    height : 60px;
    margin-top: -50px;
}

.captionbox10{
    width : 1500px;
    height : 60px;
    margin-top: -80px;
}

.captionbox11{
    width : 1500px;
    height : 60px;
    margin-top: -290px;
}

.captionbox12{
    width : 1500px;
    height : 60px;
    margin-top: -65px;
}

.captionbox13{
    width : 1500px;
    height : 60px;
    margin-top: -170px;
}

.captionbox14{
    width : 1500px;
    height : 60px;
    margin-top: -400px;
}

.captionbox15{
    width : 1500px;
    height : 60px;
    margin-top: -10px;
}

.captionbox16{
    width : 1500px;
    height : 60px;
    margin-top: -35px;
}

.captionbox17{
    width : 1500px;
    height : 60px;
    margin-top: -240px;
}

.captionbox18{
    width : 1500px;
    height : 60px;
    margin-top: -315px;
}

.caption{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 90px;
}

.caption2{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 140px;
}

.caption3{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 210px;
    margin-top: 80px;
}

.caption4{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 200px;
    margin-top: 80px;
}

.caption5{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 260px;
    margin-top: 50px;
}

.caption6{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 180px;
    margin-top: 80px;
}

.caption7{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 170px;
    margin-top: 80px;
}

.caption8{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 260px;
}

.caption9{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 440px;
    margin-top: 50px;
}

.caption10{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 400px;
    margin-top: 80px;
}

.caption11{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 320px;
    margin-top: 80px;
}

.caption12{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 360px;
    margin-top: 80px;
}
.caption13{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 410px;
    margin-top: 80px;
}

.caption14{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 380px;
    margin-top: 80px;
}

.caption15{
    display: inline-flex;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 240px;
    margin-top: 50px;
}

.gray{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #57575b;
}

.nomjeux{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(222, 231, 238);
    margin-left: 40px;
}

.explijeux{
    margin-left: 50px;
    margin-bottom: 70px;
}

.lienfin{
    text-decoration: none;
    color: #b2b1b1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 25px;
}

.lienfin2{
    text-decoration: none;
    color: #b2b1b1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 1200px;
}

.lienfin3{
    text-decoration: none;
    color: #b2b1b1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 1150px;
}

.lienfin4{
    text-decoration: none;
    color: #b2b1b1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 1100px;
}

.lienfin5{
    text-decoration: none;
    color: #b2b1b1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 970px;
}

.lienfin6{
    text-decoration: none;
    color: #b2b1b1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: 860px;
}

.captionboxfin{
    width : 1500px;
    height : 60px;
    margin-top: 290px;
}

.lienliste{
    text-decoration: none;
    color: #b2b1b1;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

.bottomt{
    margin-bottom: 50px;
}


.lienmusic{
    text-decoration: none;
    color: #b2b1b1;
    margin-left: 100px;
}

.graymusic{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #57575b;
    margin-left: 100px;
}

.size30{
    font-size: 35px;
    margin-top: 75px;
    font-family:'Courier New', Courier, monospace;
    margin-left: 20px;
}

.explication{
    font-size: 30px;
    margin-left: 20px;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -20px;
}

.déc{
    margin-left: 60px;
}


.lliste{
    text-decoration: none;
    color: #b2b1b1;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 75px;
}

.probleme{
    display: inline-flex;
    font-family:'Courier New', Courier, monospace;
    font-size: 80px;
    margin-left: 200px;
    margin-top: 80px;
    font-weight: bold;
}

.solution{
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60pxpx;
    margin-left: 250px;
    margin-top: 80px;
    font-weight: bold;
}

.prblm{
    display: inline-flex;
    font-family:sans-serif;
    font-size: 60px;
    margin-left: 200px;
    margin-top: 80px;
}

.sol1{
    display: inline-flex;
    font-family:sans-serif;
    font-size: 60px;
    margin-left: 365px;
    margin-top: 80px;
}

.sol2{
    display: inline-flex;
    font-family:sans-serif;
    font-size: 60px;
    margin-left: 374px;
    margin-top: 80px;
}

.sol3{
    display: inline-flex;
    font-family:sans-serif;
    font-size: 60px;
    margin-left: 238px;
    margin-top: 80px;
}

.sol4{
    display: inline-flex;
    font-family:sans-serif;
    font-size: 60px;
    margin-left: 372px;
    margin-top: 80px;
}

.sol5{
    display: inline-flex;
    font-family:sans-serif;
    font-size: 60px;
    margin-left: 380px;
    margin-top: 80px;
}

.réalisation{
    margin-left: 90px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif
}

.epitaphoto{
    width: 300px;
    height: 240px;
    border: 5px black;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 200px;
}

.inspiphoto100{
    width: 500px;
    position: absolute;
    margin-left: 800px;
    margin-top: -190px;
}